# Environment variables
.env
cred.env

# IDE specific files
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Dependencies
vendor/
node_modules/

# Build output
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

fbauth.json
/static2